<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lorant | Acceuil</title>
    <link rel="stylesheet" href="/style/productPage.css">
</head>

<body>
    <!--Header-->
    <header>
        <%- include('../partials/header'); %>
    </header>
    <!--Catégories cliquable-->
    <div id="#product" class="container">
        <h2 id="category">Catégories populaires</h2>
        <div class="card-container">
            <div class="card">
                <a href="#flowers">
                    <img src="/img/cat-flowers.jpg" alt="image categorie fleurs">
                    <div class="overlay">
                        <p>Fleurs</p>
                    </div>
            </div>
            <a href="#plants">
                <div class="card">
                    <img src="/img/cat-plants.jpg" alt="image categorie plantes">
                    <div class="overlay">
                        <p>Plantes</p>
                    </div>
                </div>
            </a>
            <div class="card">
                <a href="#bouquets">
                    <img src="/img/cat-bouquets.jpg" alt="image categorie bouquet">
                    <div class="overlay">
                        <p>Bouquets</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#seeds">
                    <img src="/img/cat-seeds.jpg" alt="image categorie graine et bulbes">
                    <div class="overlay">
                        <p>Graines & bulbes</p>
                    </div>
                </a>
            </div>
        </div>
        <a href="#category">
            <p class="button-up">
                up
            </p>
        </a>
    </div>
    <!--Tous les produits-->
    <div class="second-container">
        <h2 style="color:white">Nos fleurs</h2>
        <div id="flowers" class="second-card-container">
            <% flower.forEach((product)=> { %>
                <form class="second-card" action="/cart" method="post">
                    <input type="hidden" name="idProduct" value="<%=product.id%>">
                    <img class="second-card-image" src="<%=product.img%>" alt="product">
                    <p>
                        <%=product.name%>
                    </p>
                    <p>
                        <%=product.price%>€ l'unité
                    </p>
                    <button type="submit">Ajouter au panier</button>
                </form>
                <% }) %>
        </div>
    </div>
    <div id="plants" class="second-container">
        <h2 style="color:white">Nos plantes</h2>
        <div class="second-card-container">
            <% tropical.forEach((product)=> { %>
                <form class="second-card" action="/cart" method="post">
                    <input type="hidden" name="idProduct" value="<%=product.id%>">
                    <img class="second-card-image" src="<%=product.img%>" alt="product">
                    <p>
                        <%=product.name%>
                    </p>
                    <p>
                        <%=product.price%>€
                    </p>
                    <button type="submit">Ajouter au panier</button>
                </form>
                <% }) %>
        </div>
    </div>
    <div id="bouquets" class="second-container">
        <h2 style="color:white">Nos bouquets</h2>
        <div class="second-card-container">
            <% tropical.forEach((product)=> { %>
                <div class="second-card">
                    <img class="second-card-image" src="<%=product.img%>" alt="product">
                    <p>
                        <%=product.name%>
                    </p>
                    <p>
                        <%=product.price%>€
                    </p>
                    <button>Ajouter au panier</button>
                </div>
                <% }) %>
        </div>
    </div>
    <div id="seeds" class="second-container">
        <h2 style="color:white">Nos graines & bulbes</h2>
        <div class="second-card-container">
            <% tropical.forEach((product)=> { %>
                <div class="second-card">
                    <img class="second-card-image" src="<%=product.img%>" alt="product">
                    <p>
                        <%=product.name%>
                    </p>
                    <p>
                        <%=product.price%>€
                    </p>
                    <button>Ajouter au panier</button>
                </div>
                <% }) %>
        </div>
    </div>
</body>
<!--Footer-->
<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>